#root {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 5fr;
}

#root .form {
    grid-column: span 2;
    min-height: 88vh;
}

#root .form > div:first-child {
    height: 10%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#root .form > div:last-child {
    height: 90%;
}

#root .form > div:last-child .by-name {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root .form > div:last-child .by-ingredient {
    height: 100%;
}