:root {
    font-size: 18px;
}

.hidden {
    display: none;
}

body {
    height: 100vh;
}

#root {
    /* display: grid; */
    /* grid-template-rows: 1fr 5fr; */
    height: 100%;
}

#root > .button-container {
    display: flex;
    height: 10%;
}

#root > .button-container > button {
    width: 50%;
}

#root > .form {
    height: 90%;
}


#root .form > div:first-child.form-selector {
    height: 10%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#root .form > div:last-child.by-name,
#root .form > div:last-child.by-ingredient {
    width: 100%;
    height: 90%;
    padding: 2%; 

    display: flex;
    flex-direction: column;
    align-items: center;
}

