.keywords {
  width: 100%;
  height: 20%;

  display: grid;
  grid-template-columns: 1fr 3fr;
}

.keywords > h1 {
  background-color: rgb(86, 86, 87);

  color: wheat;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.keywords > .content-container {
  background-color: rgb(151, 155, 158);

  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:10px;
}
